* {
  margin: 0;
  padding: 0 !important;
  box-sizing: border-box;
}

.MuiDialog-scrollPaper {
  margin: 0 auto;
  width: 45rem;
}

.login {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

  &__left {
    width: 18rem;
    height: 100%;
    background-color: $theme-a;
    p {
      color: white;
      font-family: Roboto, sans-serif;
      padding-top: 8px !important;
      font-size: 0.8125rem;
      padding-left: 24px !important;
      letter-spacing: 0.03em;
      font-weight: 500;
    }
    h1 {
      color: white;
      font-family: "Roboto", sans-serif;
      text-align: center;
      padding-left: 8px !important;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 0.03em;
    }
    h2 {
      color: white;
      font-family: "Roboto", sans-serif;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 500;
      letter-spacing: 0.03em;
      margin-top: 5rem;
    }
    &__logo {
      display: flex;
      align-items: center;
      padding: 24px 0 0 24px !important;

      img {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
    &__loginImage {
      position: relative;
      overflow: hidden;
      display: flex;
      width: 18rem;
      margin-top: 1rem;

      img {
        width: 100%;
        height: 15rem;
        margin: 0 auto;
        object-fit: cover;
      }
    }
  }
  &__right {
    width: 100%;
    h2 {
      color: $black;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      margin: 25px;
      font-size: 1.45rem;
      letter-spacing: 0.03em;
      margin-top: 2rem;
    }
    &__myForm {
      padding-left: 25px !important;
      padding-right: 25px !important;
      font-family: "Roboto", sans-serif;
      margin-top: 12px;
      width: 100%;
      &__formData {
        font-family: "Roboto", sans-serif;
        color: $dark-grey;
        margin-bottom: 24px;
        &__username {
          width: 100%;
          div {
            margin-top: 8px;
            background: $background;
            border: none;
            border-radius: 2px;
            padding: 9px !important;
            width: 100%;
            font-size: 0.875rem;
            letter-spacing: 0.03em;
            div{
              padding: 0 !important;
              margin: 0 !important;
            }
            fieldset {
              border: none !important;
            }
          }
        }
        label {
          color: $light-grey;
          font-family: "Roboto", sans-serif;
          font-weight: 500;
          font-size: 0.875rem;
          letter-spacing: 0.03em;
        }
      }

      &__pass {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        color: $light-grey;
        margin-top: -12px;
        font-size: 0.85rem;
        letter-spacing: 0.03em;
        cursor: pointer;
        &:hover {
          color: $theme-a;
          text-decoration: underline;
        }
      }
      &__loginButton {
        color: white !important;
        background-color: #9147ff !important;
        width: 100% !important;
        margin: 17px 0px !important;
        font-size: 1.1rem !important;
        padding: 4px 0 !important;
        border-radius: 2px !important;
        margin-top: 2.2rem !important;
        &__disable{
          width: 100% !important;
          margin: 17px 0px !important;
          font-size: 1.1rem !important;
          padding: 4px 0 !important;
          border-radius: 2px !important;
          margin-top: 2.2rem !important;
          background-color: #eee !important;
          color: $light-grey!important;
          span{
            font-family: Oswald !important;
            letter-spacing: 0.05em !important;
            font-weight: 600 !important;
          }
        }
        span{
          font-family: Oswald !important;
          letter-spacing: 0.05em !important;
          font-weight: 600 !important;
        }
        &:hover {
          background-color: $theme-a;
          filter: brightness(0.8);
        }
      }
      

      &__signup {
        font-family: "Roboto", sans-serif !important;
        color: $light-grey !important;
        margin-top: 24px;
        font-size: 0.875rem !important;
        font-weight: 400 !important;
        letter-spacing: 0.03em;

        a {
          font-family: "Roboto", sans-serif !important;
          text-decoration: none;
          color: $dark-grey !important;
          font-size: 0.875rem !important;
          font-weight: 500 !important;
          letter-spacing: 0.03em !important;
        }
        a:hover {
          text-decoration: underline;
          color: $theme-a;
        }
      }
    }
  }
}

@media (max-width:991px) {
  
.MuiDialog-scrollPaper {
  width: 100% !important;
}
  
.loginMobo {
  // background: url("../../assets/LoginBg.svg") no-repeat center center/cover;
  width: 100%;
  height: 100%;
  position: relative;
  &__bgImage{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  // filter: brightness(0.95);

  &__logo {
    display: flex;
    align-items: center;
    padding: 24px 0 0 24px !important;

    img {
      width: 4.5rem;
      height: 4.5rem;
    }
  }
  h2 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin: 25px;
    font-size: 2.5rem;
    letter-spacing: 0.03em;
    margin-top: 34vh;
    margin-left: 2rem;
  }

  &__myForm {
    padding-left: 25px !important;
    padding-right: 25px !important;
    font-family: "Roboto", sans-serif;
    margin-top: 12px;
    width: 85%;
    // border: 2px solid red;
    &__formData {
      font-family: "Roboto", sans-serif;
      color: $dark-grey;
      margin-bottom: 24px;
      &__username {
        width: 100% !important;
        div{
          input {
            font-family: "Roboto", sans-serif !important;
            color: white !important;
            letter-spacing: 0.03em !important;
            font-size: 1.125rem !important;
            &::placeholder {
              color: white !important;
              opacity: .9 !important ;
            }
          }     
          fieldset{
            border: none !important;
            &:hover{
              border: none !important;
            }
            &:focus{
              border: none !important;
            }
          }  
        }
        div {
          margin-top: 10px;
          background: $theme-a;
          border: 1.5px solid white;
          border-radius: 2px;
          padding: 18px !important;
          width: 100%;
          font-size: 0.95rem;
          letter-spacing: 0.03em;
          color: white;
        }
      }
    }

    &__pass {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      color: white;
      margin-top: 1.5rem;
      margin-left: 8px;
      font-size: 1.05rem !important;
      width: max-content;
      letter-spacing: 0.03em;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
        color: white;
      }
    }
    Button {
      color: white;
      background-color: #9147ff;
      width: 100% !important;
      margin: 17px 0px;
      font-size: 1.5rem;
      padding: 7px 0 !important;
      border: 1.5px solid white;
      border-radius: 2px;
      font-weight: 600;
      letter-spacing: 0.04em;
      margin-top: 2.5rem;
      span{
        font-family: Oswald !important;
      }
    }
    Button:hover {
      background: white;
      color: $theme-a;
    }

    &__signup {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      font-family: "Roboto", sans-serif;
      color: white;
      margin-top: 24px;
      margin-left: 4px;
      font-size: 1rem !important;
      font-weight: 400;
      letter-spacing: 0.03em;

      a {
        font-family: "Roboto", sans-serif !important;
        text-decoration: none;
        color: white !important;
        font-weight: 500;
        font-size: 1.125rem;
        &:hover {
          text-decoration: underline;
          color: white;
        }
      }
    }
  }
}

}

@media (max-width:500px){
  .loginMobo{
    &__myForm{
      width: 100%;
    }
  }
}