* {
  margin: 0;
  padding: 0 !important;
  box-sizing: border-box;
}

.login {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
  &__left {
    background-color: $theme-a;
    p {
      color: $background;
      font-family: "Roboto", sans-serif;
      margin: -15px 14px 77px 14px;
      font-size: 0.65rem;
    }
    h1 {
      color: $background;
      margin: 20px 4px;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 1.7rem;
    }
    h2 {
      color: $background;
      font-family: "Roboto", sans-serif;
      text-align: center;
    }
    &__logo {
      display: flex;
      margin: 10px;

      img {
        width: 45px;
        height: 45px;
        margin: 21px 8px;
        margin-bottom: 2px;
      }
    }
    &__loginImage {
      position: relative;
      // border: 5px solid red;
      overflow: hidden;
      object-fit: cover;

      img {
        width: 250px;
        height: 250px;
        margin: auto;
      }
    }
  }
  &__right {
    h2 {
      color: $light-grey;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      margin: 25px;
    }
    &__myForm {
      margin: 34px 31px;
      font-family: "Roboto", sans-serif;

      &__formData {
        font-family: "Roboto", sans-serif;
        color: $dark-grey;
        margin-bottom: 29px;

        label {
          color: $black;
          font-family: "Roboto", sans-serif;
          font-weight: 500;
        }
      }

      &__pass {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        color: $theme-grey;
        margin-top: -11px;
      }
      Button {
        color: $background;
        background-color: $theme-a;
        width: 87%;
        margin: 17px 0px;
        padding: 4px;
        border-radius: 3px;
        font-size: 1.1rem;
      }
      Button:hover {
        color: $dark-grey;
        background-color: $theme-a;
        font-family: "Oswald", sans-serif;
      }

      &__signup {
        font-family: "Roboto", sans-serif;
        color: $light-grey;
        margin-top: 65px;

        a {
          text-decoration: none;
          color: $dark-grey;
          font-weight: 400;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
