* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  h2 {
    font-weight: 600;
    font-family: Roboto, sans-serif;
    font-size: 2rem;
  }
}

.qmodal {
  &__inner {
    background: $background;
    border: 1px solid $border-color;
    margin-bottom: 1rem;
    padding-left: 1.1rem;
    margin-left: 2.2rem;
    margin-right: 2.2rem;
    height: 22rem;
    margin-bottom: 2rem;
    padding-top: 0.5rem;
    h3 {
      color: $light-grey;
    }
  }
  &__buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: 1.2rem;
    &__cancel {
      background: $light-grey !important;
      padding: 0px 22px !important;
      margin-right: 1.2rem;

      span {
        color: white;
        font-family: Oswald !important;
        letter-spacing: 0.05em !important;
        font-weight: 500 !important;
        font-size: 0.975rem;
        border-radius: 2px !important;
      }
      &:hover {
        filter: brightness(0.8);
      }
    }
    &__save {
      background: $theme-a !important;
      padding: 0px 30px !important;
      margin-right: 1rem;
      border-radius: 2px !important;

      span {
        color: white;
        font-family: Oswald !important;
        letter-spacing: 0.05em !important;
        font-weight: 500 !important;
        font-size: 0.975rem;
      }
      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}
